:host ::ng-deep{
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .column{
            width: 50%;
            margin: 5rem;
        }
        .form-control{
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
        .search-items{
            background-color: #d3d3d39e;
            border-radius: 0.25rem;
            margin-right: -2rem
        }
    }
}